# Scripts and Raw Data
scripts_and_data/*.sql
scripts_and_data/*hash*
scripts_and_data/*.csv
scripts_and_data/*.txt
scripts_and_data/*.py
scripts_and_data/backups/
# Cloudflare / Wrangler
.wrangler/
dist/
build/
.mf/
.cf/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dev.vars

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~
.fleet/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
coverage/
.nyc_output/
